h2 {
  /* font-size: 1rem; */
}/* No style for WampServer */



#head .innerhead ul {
  display: flex;
  list-style: none;
}

#head .innerhead ul li {
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  background-color: #eee;
}
.config {
  display: none;
}

.inneralltools .column {
  display: inline-block;
}
.inneralltools .column:nth-child(4) {
 display: block;
}

.vhost {
  display: flex;
  flex-wrap: wrap;
}

.vhost li {
  
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  background-color: #333;
  color: white;
  border-radius: 5px;

}

.vhost li a:link{
  color: white;
  text-decoration: none;
}
.vhost li a:visited{
  color: rgb(252, 240, 169);
}